<%- include('../_partial/_header'); -%>
    <div id="recipesContainer">
        <div id="myRecipesContainer">
            <label id="myRecipesLabel">My Recipes</label> 
    
            <a href="/recipes/createRecipe" id="newRecipeButton">+ Create New Recipe</a>
        </div>
        
        <div id="allRecipes">
            <% recipes.forEach(function(recipe){ %>
                <% if(recipe.author == user._id){ %>
                    <div class="secondaryContainer">
                        <div class="recipeContainerIndv">
                            <img src="/uploads/<%= recipe.recipeImageFileName %>"/>
            
                            <a class="recipeTitle"> <%= recipe.recipeName %> </a>
                            <!-- <% recipe.directions.forEach(function(direction){ %>
                                <a><%= direction %></a>
                            <% }); %> -->
                        </div>
                    </div>
                    
                <% } %>
            <% }); %>
        </div>
    </div>
    
<%- include('../_partial/_footer'); -%>