<%- include('../_partial/_header'); -%>

    <h1>Welcome to myrecipes page</h1> 
    <h1>Welcome to myrecipes page</h1> 
    <h1>Welcome to myrecipes page</h1> 
    <h1>Welcome to myrecipes page</h1> 
    <a href="/recipes/createRecipe">addRecipe</a>

    <% recipes.forEach(function(recipe){ %>
        <% if(recipe.author == user._id){ %>
            <br>
            <a> <%= recipe.recipeName %> </a>
            <br>
            
            <% recipe.directions.forEach(function(direction){ %>
                <a><%= direction %></a>
            <% }); %>

            <img src="/uploads/<%= recipe.recipeImageFileName %>"/>
            
        <% } %>
    <% }); %>


<%- include('../_partial/_footer'); -%>