<%- include('../_partial/_header'); -%>
    <!-- Container for all of a user's recipes -->
    <div id="recipesContainer">
        <div id="myRecipesContainer">
            <label id="myRecipesLabel">My Recipes</label> 
    
            <!-- Button to Create a New Recipe -->
            <a href="/recipes/createRecipe" id="newRecipeButton">+ Create New Recipe</a>
        </div>
        
        <!-- Displays each individual recipe (The name and image) -->
        <div id="allRecipes">
            <% if(recipes.length > 0) { %>
                <% recipes.forEach(function(recipe){ %>
                    <% if(recipe.author == user._id){ %>
                        <div class="secondaryContainer">
                            <div class="recipeContainerIndv"> 
                                <a data-id="<%= recipe._id %>" href="#"><span class="deleteButton">Delete</span></a>

                                <a href="/recipes/<%= recipe._id %>"><img src="/uploads/<%= recipe.recipeImageFileName %>"/></a>
    
                                <a href="/recipes/<%= recipe._id %>" class="recipeTitle"> <%= recipe.recipeName %> </a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <div id="noRecipesContainer">
                    <a id="noRecipes">You Currently Have No Recipes!</a>
                </div>
            <% } %>
            
        </div>
    </div>
    
<%- include('../_partial/_footer'); -%>